<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Contacts</title>
</head>


<body>
    <div class="container">
        <div class="row justify-content-center">
            <nav>
                <a href="/"> Home </a> |
                <a href="/projects"> Projects </a> |
                <a href="contact"> Contact </a>
            </nav>
        </div>
        
        <h1 class="row justify-content-center"> Contact me!</h1>
        <div class="row justify-content-center">
            <form action="" class="row ">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="name"> Name </label>
                        <div class="col-sm-7">
                            <input type="text" name="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="email"> Email </label>
                        <div class="col-sm-7">
                            <input type="text" name="email">
                        </div>
                    
                    </div>
                </div>
                <div class="col">
                    <label class="row" for="Message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>    
                    <button class="btn btn-danger" type="submit">Send</button>
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>