<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Projects</title>
</head>


<body>
    <div class="container">
        <div class="row justify-content-center">
            <nav>
                <a href="/"> Home </a> |
                <a href="/projects"> Projects </a> |
                <a href="contact"> Contact </a>
            </nav>
        </div>
        
        <h1 class="row justify-content-center"> Here are some projects of mine! </h1>
        <div class="col overflow-auto" style="height: 700px">
            <div class="row mb-2">
                <div class="col text-center">
                    <img src="https://i.pinimg.com/originals/4d/77/b8/4d77b8f26d37268469eae0ad16eefb2c.jpg" alt="" style="width: 80%;">
                </div>
                <div class="col">
                    <p>Cool thing!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ipsum quis odio lobortis dictum a sed erat. Pellentesque rutrum, felis vitae maximus convallis, orci erat rutrum nulla, vel ornare est dui ut sem. </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col text-center">
                    <img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1234,w_2200,x_0,y_70/f_auto,q_auto,w_1100/v1554927002/shape/mentalfloss/542171-marvel_0.jpg" alt="" style="width: 80%;">
                </div>
                <div class="col">
                    <p>Cool thing!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ipsum quis odio lobortis dictum a sed erat. Pellentesque rutrum, felis vitae maximus convallis, orci erat rutrum nulla, vel ornare est dui ut sem. </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col text-center">
                    <img src="https://media.voltron.voanews.com/Drupal/01live-166/styles/892x501/s3/2019-04/625E249C-9789-4A54-BDCB-01DC20DBD133.JPG?itok=9SDDkxmX" alt="" style="width: 80%;">
                </div>
                <div class="col">
                    <p>Cool thing!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ipsum quis odio lobortis dictum a sed erat. Pellentesque rutrum, felis vitae maximus convallis, orci erat rutrum nulla, vel ornare est dui ut sem. </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col text-center">
                    <img src="https://images.indianexpress.com/2018/04/iron-man-2-759.jpg" alt="" style="width: 80%;">
                </div>
                <div class="col">
                    <p>Cool thing!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ipsum quis odio lobortis dictum a sed erat. Pellentesque rutrum, felis vitae maximus convallis, orci erat rutrum nulla, vel ornare est dui ut sem. </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>